
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CSource+Sans+Pro:400,600,400italic" rel="stylesheet" type="text/css">
        <link href="css/font-poppinssourcesanspro.css" rel="stylesheet" type="text/css">
    </head>

    <body data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">

				
		<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section>
		                <div class="container">
		                    <div class="row">
		                        <div class="col-sm-8 col-sm-offset-2 text-center">
		                            <h3>1adda - Intro</h3>
		                            <p class="lead">
		                                Our diverse team comprises talent from a range of design disciplines working together to deliver effective solutions
		                            </p>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section class="height-30">
		                <div class="container pos-vertical-center">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h2>Events ,Programs and Plans</h2>
		                            <span>
		                                <em>Effective February 9th, 2016</em>
		                            </span>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section>
		                <div class="container" style="height:300px; border:2px solid black;">
		                    <div class="row">
		                        <div class="col-sm-6">
		                            <div class="feature feature-3">
		                                <div class="feature__left">
		                                    <i class="icon icon-Calendar-2 color--primary"></i>
		                                </div>
		                                <div class="feature__right">
		                                    <h6 >Events</h6>
		                                    <p>Info on events</p>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-sm-6">
		                            <div class="feature feature-3">
		                                <div class="feature__left">
		                                    <i class="icon icon-Snowflake-3 color--primary"></i>
		                                </div>
		                                <div class="feature__right">
		                                    <h6>Programs</h6>
		                                    <p>Info on Programs</p>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-sm-6">
		                            <div class="feature feature-3">
		                                <div class="feature__left">
		                                    <i class="icon icon-People-onCloud color--primary"></i>
		                                </div>
		                                <div class="feature__right">
		                                    <h6>Community</h6>
		                                    <p>Info</p>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-sm-6">
		                            <div class="feature feature-3">
		                                <div class="feature__left">
		                                    <i class="icon icon-Astronaut color--primary"></i>
		                                </div>
		                                <div class="feature__right">
		                                    <h6>Workspace</h6>
		                                    <p>Personnal Space , Cabins ,Seminar room , Conference rooms  - we have it all.</p>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section class="stats-1 bg--secondary" style=" background-color:grey;">
		                <div class="container" style="height:600px;">
		                    <div class="row" >
		                        <div class="col-sm-12 text-center" >
		                            <h2 style="color:black;">Amenities&nbsp;</h2>
		                        </div>
		                    </div>
		                    
		                    <div class="row">
		                        <div class="col-sm-4">
		                            <div class="feature feature-1 text-center boxed boxed--lg">
		                                <i class="icon icon--lg icon-Wifi-2 color--primary"></i>
		                                <h3>Internet access</h3>
		                                <span>
		                                    <em>24/7 High Speed Wifi</em>
		                                </span>
		                            </div>
		                        </div>
		                        <div class="col-sm-4">
		                            <div class="feature feature-1 text-center boxed boxed--lg">
		                                <i class="icon icon--lg icon-Home-Window color--primary"></i>
		                                <h3>Cabins</h3>
		                                <span>
		                                    <em>Focused work environment with comfortable seating</em>
		                                </span>
		                            </div>
		                        </div>
		                        <div class="col-sm-4">
		                            <div class="feature feature-1 text-center boxed boxed--lg">
		                                <i class="icon icon--lg icon-Cupcake color--primary"></i>
		                                <h3>Cafe</h3>
		                                <span>
		                                    <em>On the house :-)</em>
		                                </span>
		                            </div>
		                        </div>
		                        <div class="col-sm-4">
		                            <div class="feature feature-1 text-center boxed boxed--lg">
		                                <i class="icon icon--lg icon-Door color--primary"></i>
		                                <h3>24X7 Access</h3>
		                                <span>
		                                    <em>Safe and Secure</em>
		                                </span>
		                            </div>
		                        </div>
		                        <div class="col-sm-4">
		                            <div class="feature feature-1 text-center boxed boxed--lg">
		                                <i class="icon icon--lg icon-Power color--primary"></i>
		                                <h3>Power backup</h3>
		                                <span>
		                                    <em>Your work stays safe</em>
		                                </span>
		                            </div>
		                        </div>
		                        <div class="col-sm-4">
		                            <div class="feature feature-1 text-center boxed boxed--lg">
		                                <i class="icon icon--lg icon-Printer color--primary"></i>
		                                <h3>Printers and Scanners</h3>
		                                <span>
		                                    <em></em>
		                                </span>
		                            </div>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section class="height-40">
		                <div class="container pos-vertical-center">
		                    <div class="row">
		                        <div class="col-sm-12 text-center">
		                            <h2>Mentors and Advisors</h2>
		                            <span>
		                                <em>Effective February 9th, 2016</em>
		                            </span>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section class="bg--white">
		                <div class="container" style="margin:auto; ">
		                    <div class="row">
		                        <div class="col-md-4 col-sm-6 col-xs-6" >
		                            <div class="member member-1"  >
		                                <img alt="pic" src="img/avatar-team-6.jpg" style="height:260px; width:260px;">
		                                <h6>Founder / CEO</h6>
		                                <h5>Richard Bauer</h5>
		                                <p>
		                                    Intuitive 360 campaign quantitative vs. qualitative ship it actionable insight thought leader. Big data sticky note human-centered design iterate.
		                                </p>
		                            </div>
		                            
		                        </div>
		                        <div class="col-md-4 col-sm-6 col-xs-6">
		                            <div class="member member-1">
		                                <img alt="pic" src="img/avatar-team-3.jpg" style="height:260px; width:260px;">
		                                <h6>Founder</h6>
		                                <h5>Sarah Vaughn</h5>
		                                <p>
		                                    Co-working convergence human-centered design ship it ideate thought leader. Steve Jobs intuitive ship it affordances ship it integrate thinker-maker-doer
		                                </p>
		                            </div>
		                            
		                        </div>
		                        <div class="col-md-4 col-sm-6 col-xs-6">
		                            <div class="member member-1">
		                                <img alt="pic" src="img/avatar-team-1.jpg" style="height:260px; width:260px;">
		                                <h6>Art Director</h6>
		                                <h5>Madelline Smith</h5>
		                                <p>
		                                    Quantitative vs. qualitative. Driven moleskine paradigm minimum viable product co-working ship it unicorn
		                                </p>
		                            </div>
		                            
		                        </div>
		                        <div class="col-md-4 col-sm-6 col-xs-6">
		                            <div class="member member-1">
		                                <img alt="pic" src="img/avatar-team-4.jpg" style="height:260px; width:260px;">
		                                <h6>Developer</h6>
		                                <h5>Lucille Burnett</h5>
		                                <p>
		                                    Big data integrate intuitive intuitive thought leader physical computing ship it agile unicorn responsive. Physical computing entrepreneur ship it integrate physical computing
		                                </p>
		                            </div>
		                            
		                        </div>
		                        <div class="col-md-4 col-sm-6 col-xs-6">
		                            <div class="member member-1">
		                                <img alt="pic" src="img/avatar-team-2.jpg" style="height:260px; width:260px;">
		                                <h6>Developer</h6>
		                                <h5>Michael King</h5>
		                                <p>
		                                    User story 360 campaign minimum viable product convergence thinker-maker-doer grok pivot intuitive.
		                                </p>
		                            </div>
		                            
		                        </div>
		                        <div class="col-md-4 col-sm-6 col-xs-6">
		                            <div class="member member-1">
		                                <img alt="pic" src="img/avatar-team-5.jpg" style="height:260px; width:260px;">
		                                <h6>Designer</h6>
		                                <h5>Gabriel Arthur</h5>
		                                <p>
		                                    Campaign quantitative vs. qualitative ship it actionable insight thought leader. Big data sticky note human-centered design iterate.
		                                </p>
		                            </div>
		                            
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section class="testimonial testimonial-4 section--even bg--white " style=" background-color: #ABB2B9   ;">
		                <div class="container"  style="margin:auto ;">
		                    <div class="row">
		                        <div class="slider slider--controlsoutside" data-animation="fade" data-arrows="false" data-paging="true" data-timing="5000">
		                            <ul class="slides">
		                                <li>
		                                    <div class="col-sm-10 col-sm-offset-1 text-center">
		                                        <blockquote>review / Testimonials</blockquote>
		                                        <h5>— Dan Gibon, Interface Designer</h5>
		                                    </div>
		                                </li>
		                                <li>
		                                    <div class="col-sm-10 col-sm-offset-1 text-center">
		                                        <blockquote>
		                                            “I've been using Medium Rare templates for a couple of years now - they're always highly polished and backed up by amazing support.”
		                                        </blockquote>
		                                        <h5>— Sam Prichard, Interface Designer</h5>
		                                    </div>
		                                </li>
		                                <li>
		                                    <div class="col-sm-10 col-sm-offset-1 text-center">
		                                        <blockquote>
		                                            “The design is fantastic, the builder saves me tons of time and the support has been excellent. I highly recommend Pillar.”
		                                        </blockquote>
		                                        <h5>— Gale Adams, Envato Customer</h5>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                    
		                </div>
		                
		            </section><section class="space--0">
		                <div class="slider" data-items="4" data-paging="false" data-arrows="false">
		                    <ul class="slides">
		                        <li>
		                            <a href="#">
		                                <div class="hover-element hover-element-1" data-title-position="top,right">
		                                    <div class="hover-element__initial">
		                                        <img alt="Pic" src="img2/cafeteria.jpg">
		                                    </div>
		                                    <div class="hover-element__reveal" data-overlay="9">
		                                        <div class="boxed">
		                                            <h5>Freehance</h5>
		                                            <span>
		                                                <em>iOS Application</em>
		                                            </span>
		                                        </div>
		                                    </div>
		                                </div>
		                                
		                            </a>
		                        </li>
		                       
		                        
		                      
		                        <li>
		                            <a href="#">
		                                <div class="hover-element hover-element-1" data-title-position="top,right">
		                                    <div class="hover-element__initial">
		                                        <img alt="Pic" src="img2/common-space.jpg">
		                                    </div>
		                                    <div class="hover-element__reveal" data-overlay="9">
		                                        <div class="boxed">
		                                            <h5>Wave Poster</h5>
		                                            <span>
		                                                <em>Logo Design</em>
		                                            </span>
		                                        </div>
		                                    </div>
		                                </div>
		                                
		                            </a>
		                        </li>
		                        <li>
		                            <a href="#">
		                                <div class="hover-element hover-element-1" data-title-position="top,right">
		                                    <div class="hover-element__initial">
		                                        <img alt="Pic" src="img2/work-space.jpg">
		                                    </div>
		                                    <div class="hover-element__reveal" data-overlay="9">
		                                        <div class="boxed">
		                                            <h5>Tesla Controller</h5>
		                                            <span>
		                                                <em>Apple Watch Application</em>
		                                            </span>
		                                        </div>
		                                    </div>
		                                </div>
		                                
		                            </a>
		                        </li>
		                       
		                        <li>
		                            <a href="#">
		                                <div class="hover-element hover-element-1" data-title-position="top,right">
		                                    <div class="hover-element__initial">
		                                        <img alt="Pic" src="img2/common-space4.jpg">
		                                    </div>
		                                    <div class="hover-element__reveal" data-overlay="9">
		                                        <div class="boxed">
		                                            <h5>Thomas Muller</h5>
		                                            <span>
		                                                <em>Branding &amp; Identity</em>
		                                            </span>
		                                        </div>
		                                    </div>
		                                </div>
		                                
		                            </a>
		                        </li>
		                    </ul>
		                </div>
		            </section><section class="features features-10">
		                <div class="feature bg--white col-md-4 text-center">
		                    <i class="icon icon--lg icon-Map-Marker2"></i>
		                    <h4>Drop on in</h4>
		                    <p>
		                        1Adda, M47, Greater Kailash 1
								<br> Just behind M-Block Market
		                     </p>
		                </div>
		                <div class="feature bg--secondary col-md-4 text-center">
		                    <i class="icon icon--lg icon-Phone-2"></i>
		                    <h4>Give us a call</h4>
		                    <p>
		                        Office: (03) 9283 2617
		                        <br> Fax: +61 3827 3590
		                    </p>
		                </div>
		                <div class="feature bg--dark col-md-4 text-center">
		                    <i class="icon icon--lg icon-Computer"></i>
		                    <h4>Connect online</h4>
		                    <p>
		                        Email:
		                        <a href="#">hello@pillarstudio.net</a>
		                        <br> Twitter:
		                        <a href="#">@pillarstudio</a>
		                    </p>
		                </div>
		            </section></div>
		
				
		<script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/scrollreveal.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
				